<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            class="com.emf4sw.rdf.RDFPackage"
            genModel="model/rdf.genmodel"/>
   </extension>
</plugin>
