bin/
*/*/target/
/bundles/com.emf4sw.rdf.jena/bin
/bundles/com.emf4sw.rdf/bin
/bundles/com.emf4sw.rdf.jena/.settings
/bundles/com.emf4sw.rdf.jena/.settings
/bundles/com.emf4sw.rdf.transform/.settings
/bundles/com.emf4sw.rdf.sesame/.settings
/bundles/org.openrdf/.settings
bundles/com.emf4sw.rdf.json/.settings/org.eclipse.pde.core.prefs
bundles/com.emf4sw.owl.jena/.settings/org.eclipse.pde.core.prefs